<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>SonyHeadphonesClient</string>
	<key>CFBundleIdentifier</key>
	<string>com.semvis123.SonyHeadphonesClient</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SonyHeadphonesClient</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app uses Bluetooth in order to connect to your headphones.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
</dict>
</plist>
